@charset "UTF-8";
/* CSS Document */
html{
	font-size: 62.5%;/*16px　×　62.5% = 10px*/
	}
body{
font-family: fot-tsukuardgothic-std, sans-serif;
font-weight: normal;
font-style: normal;	
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	color: #4E2A04;
	background: #F7EFE4;
	line-height: 1em;
	margin: 0;
	padding: 0;
    -webkit-animation: fadeIn 1.5s ease 0s 1 normal;
    animation: fadeIn 1.5s ease 0s 1 normal;
}
html,body{
	margin: 0;
	padding: 0;
}
@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}


*{
	margin: 0px;
	padding: 0px;
	line-height: 1;
}

/*フェードイン*/
.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}

/*背景画像のインナー*/
.backimg-inner{
	 background-image:url(../../images/logo-pass.png);
	 background-repeat:no-repeat;
	 background-position: center 8px;
	 background-attachment:fixed;
	 background-size: 560px auto;
}


/*ヘッダー横幅*/
.header-inner{
	background-color: #F7EFE4;
	margin: 0 103px 0;
}
/*ヘッダー左*/
.header-over{
	display: flex;
	justify-content: space-between;
}
.header-left{	
	margin: auto 0 auto;
}
.logo{
	width: 374px;
	height: 108px;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.logo:hover{
	opacity: 0.8;
}
/*ヘッダー右アドレス*/
.header-rightbox{
	display: block;
    padding: 30px 0 30px;}
.header-right{
	text-align: right;
	list-style: none;
    padding-bottom: 30px;	
}
.header-tel{
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 0.2em;
}
.header-open{
	padding-top: 7px;
	font-size: 14px;
}
.header-dinner{
	padding-left: 10px;
}
.header-access{
	padding-top: 8px;
	font-size: 1.4rem;
}
/*ヘッダー右ナビ*/
.nav{
	list-style: none;
	font-size: 3.2rem;
    font-weight: bold;
    display: flex; 
	justify-content: flex-end;
}
.nav-btn{
	padding-left: 30px;
	letter-spacing: 0.02em;
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}
/*クリック時の動作（ヘッダーのみ）*/
.nav-btn:hover{
opacity: 0.5;
}
/*クリック時の動作（フッター共通）*/
.click{
	transform: scale(1.0);
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all  0.2s ease;
}
.click:hover{
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}
/*マウス時の動作（フッター共通）ここまで*/
/*カレント表示（現在ページのみ表示）*/
.current{
	letter-spacing: 0.02em;
	opacity: 0.5;
	border-bottom: solid 3px #BB0402;
	padding-bottom: 2px;
}
.top{
	padding-right: 30px;
}
.page-now{
	padding-right: 30px;
}
/*スマホ用非表示*/
.header-re{
	display: none;
}
/*ヘッダーここまで*/

/*コンテンツ見出し*/

.contents-ttl{
	text-align: center;
	color: #4E2A04;
	font-size: 4.4rem;
	font-weight: bold;
	background-color: #E5D8BB;
	padding: 78px 0 78px;
	padding-left: 8px;
}

/*料理のこだわり*/
.about-box{
	width: 960px;
	height: 420px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 200px 0 150px;
}
.sec-st{
	padding-top: 150px;
}
.third-st{
	padding: 150px 0 200px;
}

/*テキストボックス*/

.about-txt{
	display: block;
	width: 420px;
	margin: auto 0;
}

.about-hed{
	font-size: 3.6rem;
	font-weight: bold;
	text-align: center;
}

.about-detail{
	font-family: sans-serif;
	font-size: 1.6rem;
	padding-top: 60px;
	line-height: 1.5;
	letter-spacing: 0.1em;
}
.text-space{
	text-align: center;
	padding-top: 10px;
	line-height: 1.6;
	letter-spacing: 0.1em;
}
.about-img{
	width: 420px;
	height: auto;
}

.line{
	width: 840px;
	margin: 0 auto;
	border-bottom: 2px dashed #997A53;
}

/*フッター*/

.footer-inner{
	padding: 20px 103px 10px;
	color: #F7EFE4;
	background-color: #4E2A04;
	text-align: center;
}
.footer-over{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}
.footer-fa{
	font-size: 2.2rem;
	font-weight: bold;
	text-align: center;
}
.footer-tel{
	font-size: 3.6rem;
	font-weight: bold;
	padding-top: 10px;
	text-align: center;
	letter-spacing: 0.2em;
}
.footer-open{
	font-size:1.6rem;
	text-align: left;
}
.footer-adrress{
	text-align: left;
	font-size: 1.6rem;
	padding: 5px 0 5px;
}
.time{
	padding-top: 10px;
	text-align: left;
}
.footer-right{
	text-align: right;
	padding-top: 5px;
}
.footer-logo{
	width: 200px;
	height: 60px;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.footer-logo:hover{
	opacity: 0.8;
}
.footer-logo-re{
	display: none;
}
.footer-nav{
	font-size: 2.8rem;
	font-weight: bold;
	list-style: none;
	display: flex;
    padding-top: 31px;
}
.footer-nav-btn{
	padding-left: 20px;
}
.copy{
	font-size: 1.2rem;
	text-align: left;
}

/*トップへ戻るボタン*/

#PageTopBtn {
	width: 60px;
	height: 60px;
	display: block;
    position: fixed; /*ボタンの配置場所を固定*/
    right: 10px; /*右からのボタンの配置場所を指定*/
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
#PageTopBtn:hover{
  opacity: 0.9;
  -webkit-transform: scale(0.5);
  transform: scale(0.95);
}
@media screen and (max-width:768px){
	.body{
		background-image: none;
		margin: 0;
	}
	
	/*背景画像のインナー*/
	.backimg-inner{
	 background-image:url("../../images/logo-pass.png");
	 background-repeat:no-repeat;
	 background-position: center 30%;
	 background-attachment:fixed;
	 background-size: 72.92%;
}

/*	ヘッダー*/
	
/*	pcの打ち消し*/
	.header-inner{
		margin: 0;
		padding: 1.33% 6% 1.33%; 
	}
	.header-over{
		display: none;
		max-width: 100%;
	}	
	
/*ヘッダーの左右並び*/
	.header-re{
		display: flex;
		justify-content: space-between;
	}
/*ヘッダーのロゴ*/
	.logo-re{
		max-width: 100%;
		width: 38%;
	}
/*ヘッダー右側*/
	.re-right{
		text-align: right;
		margin: auto;
	}
						
	/*ハンバーガーボタン三本線*/
	nav{
		padding: 1.4%;
		margin: 0 auto;
	}
nav.menu0{ 
	display: block;
	width:25px; 
	height:20px; 
	top: 10px; 
	right:10px; 
	position:fixed; 
	cursor:pointer; 
	overflow:hidden; 
	z-index: 9999;
	background-color: rgba(78,42,4,0.5);
	}
	
	nav .menu1{ 
		width: 25px;
		height:2%; 
		background-color: #F7EFE4; 
		top:6px; 
		position:absolute; 
		} 
	nav .menu2{ 
		width: 25px;
		height:2%; 
		background-color: #F7EFE4; 
		top:16px; 
		position:absolute;
		} 
	nav .menu3{ 
		width: 25px;
		height:2%; 
		background-color: #F7EFE4; 
		top:26px; 
		position:absolute; 
		}
				/*ハンバーガーボタン三本線終了*/

				/*ハンバーガーアニメーション*/
	nav .menu1, nav .menu2, nav .menu3 { 
			transition: all 0.5s ease-out; 
			-o-transition: all 0.5s ease-out; /* Opera */ 
			-moz-transition: all 0.5s ease-out; /* Firefox */
			-webkit-transition: all 0.5s ease-out; /* GoogleChrome, Safari */ 
			-ms-transition: all 0.5s ease-out; /* IE */ 
		}
/*クリックした後の動き*/
	nav .menuclick1{ 
		display: block;
		top:8px; 
		-o-transform: rotate(405deg); 
		-moz-transform: rotate(405deg); 
		-webkit-transform: rotate(405deg);
		-ms-transform: rotate(405deg); 
		transform: rotate(405deg); 
	}
	nav .menuclick2{ 
		background-color:rgba(255,255,255,0);  
		}
	nav .menuclick3{ 
		top:8px; 
		-o-transform: rotate(-405deg); 
		-moz-transform: rotate(-405deg);
		-webkit-transform: rotate(-405deg); 
		-ms-transform: rotate(-405deg); 
		transform: rotate(-405deg); 
		}

/*ナビのcss*/
	#menu0{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		font-size: 4.8vw;
		font-weight: bold;
		color: #F7EFE4;
		text-align: center;
		display: none;
		background-color: rgba(78,42,4,0.95);
		z-index: 9998;
	}
/*メニューバー*/
	.re-nav{
		border-bottom: dashed 1px #F7EFE4;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all  0.5s ease;
	}
/*	ナビロゴ*/
	.menu-logo{
		width: 30%;
		height: auto;
		margin:  0 auto;
		padding: 5%;
	}
/*	ナビtel*/
	.nav-info{
		width: 60%;
		margin: 0 auto;
		padding-top: 7.4%;
	}
	.nav-tel{
		font-size: 4.0vw;
		letter-spacing: 0.2em;
	}
	.nav-o{
		font-size: 3.2vw;
		font-weight: normal;
	}
/*中段（ランチの営業時間）のパディング*/
	.nav-l{
		padding: 5% 0 3%;
	}
/*	年中無休*/
	.nav-d{
		font-size: 3.0vw;
		font-weight: normal;		
		padding-top: 3%;
	}
/*Topの上ボーダー*/
	header ul li:first-of-type{
		padding-top: 3.5%;
	}
/*Accessの下padding*/
	header ul li:last-of-type{
		padding-bottom: 3.5%;
		border-bottom: none;
	}
	header ul {
		width: 70%;
		margin: 0 auto;
		border-top: outset 2px #EBE0D4;
		border-bottom: inset 2px #EBE0D4;
	}
	
/*枠全体でクリックさせたい*/
	header li {
		width: 100%;
		display: inline-block;
		border-bottom: solid 1px #EBE0D4;
	}
	header li a {
		display: block;
		width: 100%;
		padding: 7% 0 7%;
	}
	.re-nav:hover{
		background-color: #EBE0D4;
		color: #4E2A04;
	}
	
/*	ハンバーガー終了*/

/*アバウトコンテンツタイトル*/
	.contents-ttl{
		font-size: 5.86vw;
		margin: -3% 0 0 ;
		width: 100%;
		padding: 4% 0;
		
	}
/*	コンテンツインナー*/
	.about-inner{
		width: 90%;
		margin: 0 auto;
	}
/*アバウト囲み.上段のパディング*/
	.about-box{
		width: 100%;
		display:flex;
		flex-direction: column;
		text-align: center;
		height: auto;
		padding: 22.25% 0 14.83%;
	}
/*	中段上部のパディング*/
	.sec-st{
		padding-top: 14.83%;
		}
/*	下段のパディング*/
	.third-st{
		padding: 22.25% 0 22.25%;
	}
/*上段・下段の画像サイズ*/
	.about-img{
		width: 62.31%;
		margin: 0 auto;
		height: auto;
	}
	/*中断の画像pc位置調整解除*/
	.cook{
		transform: translateY(0);
	}
/*タイトル*/
	.about-hed{
		font-size: 4.8vw;
		padding-top: 7.41%;
	}
	.about-detail{
		font-size: 3.7vw;
		text-align: left;
		padding-top: 8.9%;
	}	
	/*	中段のフォントサイズ*/
	.menu-good{
		font-size: 3.6vw;
		width: 97.5%;
	}
/*	下段のフォントサイズ*/
	.floor{
		font-size: 3.79vw;
	}
/*上段のスマホ順序入れ替え*/
	.about-txt{
		order: 2;
		width: 	100%;
	}
	.about-img{
		order: 1;
	}
/*	テキストスマホの改行*/
	.re-br{
		display: inline-block;
		text-align: left;
		letter-spacing: 0.1em;
		line-height: 1.5;
	}
/*pcの改行打ち消し*/
	.re-none{
		display: none;
	}
/*中段の区切り線*/
	.line{
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px dashed;
}
/*	floorの最終段落width詰め*/
	.last-type{
		width: 108%;
		margin: 0 auto;
	}

/*フッター*/
	/*フッターの右側打ち消し*/
	.footer-right{
		display: none;
	}
/*下部パディング打ち消し*/
	.footer-over{
		padding-bottom: 0;
	}
/*フッターのパディング10px 0 20px*/
	.footer-inner{
		padding: 5.38% 0 5.38%;
	}	
/*ご予約・お問い合わせ*/
	.footer-fa{
		font-size: 3.56vw;	
	}
/*電話番号*/
	.footer-tel{
		font-size: 4.15vw;
		padding-top: 1.48%;
		width: 50%;/*borderの為のwidth設定*/
		margin: 0 auto;
	}
/*フッター中央揃え*/
 	/*営業時間*/
	.time{
		text-align: center;
		font-size: 2.97vw;
		padding-top: 1.48%;
	}
	.footer-adrress{
		text-align: center;
		font-size: 1.97vw;
	}
	.footer-open{
		text-align: center;
	}
	.copy{
		text-align: center;
		padding: 0;
	}
/*フッターロゴ*/
	.footer-logo-re{
		display: block;
		width: 28.75%;
		margin: 0 auto;
		padding: 4.45% 0 4.45%;
	}
	
	#PageTopBtn {
	width: 13%;
	height: auto;
}

}

/*メディアクエリ終了*/
